.vs/BetterConsoleApp/config/applicationhost.config
.vs/BetterConsoleApp/DesignTimeBuild/.dtbcache.v2
.vs/BetterConsoleApp/v16/.suo
.vs/BetterConsoleApp/v16/TestStore/0/000.testlog
.vs/BetterConsoleApp/v16/TestStore/0/testlog.manifest
ConsoleUI/bin/Debug/netcoreapp3.1/appsettings.json
ConsoleUI/bin/Debug/netcoreapp3.1/ConsoleUI.deps.json
ConsoleUI/bin/Debug/netcoreapp3.1/ConsoleUI.dll
ConsoleUI/bin/Debug/netcoreapp3.1/ConsoleUI.exe
ConsoleUI/bin/Debug/netcoreapp3.1/ConsoleUI.pdb
ConsoleUI/bin/Debug/netcoreapp3.1/ConsoleUI.runtimeconfig.dev.json
ConsoleUI/bin/Debug/netcoreapp3.1/ConsoleUI.runtimeconfig.json
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventLog.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventSource.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Serilog.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Serilog.Extensions.Hosting.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Serilog.Extensions.Logging.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Serilog.Settings.Configuration.dll
ConsoleUI/bin/Debug/netcoreapp3.1/Serilog.Sinks.Console.dll
ConsoleUI/bin/Debug/netcoreapp3.1/System.Diagnostics.EventLog.dll
ConsoleUI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
ConsoleUI/obj/ConsoleUI.csproj.nuget.dgspec.json
ConsoleUI/obj/ConsoleUI.csproj.nuget.g.props
ConsoleUI/obj/ConsoleUI.csproj.nuget.g.targets
ConsoleUI/obj/project.assets.json
ConsoleUI/obj/project.nuget.cache
ConsoleUI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConsoleUI/obj/Debug/netcoreapp3.1/apphost.exe
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.AssemblyInfo.cs
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.AssemblyInfoInputs.cache
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.assets.cache
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.csproj.CopyComplete
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.csproj.CoreCompileInputs.cache
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.csproj.FileListAbsolute.txt
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.csprojAssemblyReference.cache
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.dll
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.exe
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.genruntimeconfig.cache
ConsoleUI/obj/Debug/netcoreapp3.1/ConsoleUI.pdb
